body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(234, 234, 234);
    overflow-x:hidden;
}
/* p{
    font-family: sans-serif;
} */
header{
     font-size: 1.2rem;
     text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;

}
a:focus{
    outline: 0;
}
h1{
    font-size: 1.9rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
h2{
    font-size: 1.9rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
h3,h4{
    font-size: 1.7rem;
}
h5{
    font-size: 1.2rem;
}
h6{
    font-size: 0.8rem;
}
img{
    width: 100%;
}
p{
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.purple{
    color: rgb(231, 13, 165);
    font-size: 1.3rem;
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    padding-left: 1rem;
    padding-right: 1rem;
}
iframe{
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
}
.logo{
    width: 150%;
}

.activeButton{
    font-size: 1.5rem;
}
/* Tournament Brackets */
/*
 *  Flex Layout Specifics
*/
.outer{
  width:1500px;
  height:1000px;
  white-space: nowrap;
  position: relative;
  overflow-x:scroll;
  overflow-y:hidden;
}


#tournament{
  display:flex;
  flex-direction:row;
  min-width: 1000px;
  /* background-color: white;
  opacity: 0.6; */
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/
body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:2px solid black; }

  li.game-spacer{
    border-right:2px solid black;
    min-height:40px;
  }

  li.game-bottom{
    border-top:2px solid black;
  }
  /*  /Tournament bracket*/

/* Login Buttons */
/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  font-family: "Roboto", Roboto, arial, sans-serif;
  background: #DD4B39;
  padding-top: 7px;
  padding-bottom: 7px;

}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
/* /Login Buttons */
